name: Validate Setup

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  validate:
    name: Validate Setup
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Just
        uses: extractions/setup-just@v3

      - name: Set up KinD (Kubernetes in Docker)
        uses: helm/kind-action@v1.13.0

      - name: Run 'just setup'
        run: just setup
